/*Resets universales*/
*{
  margin: 0;
  padding: 0;
}

.customize-container {
  padding-top: 3%;
  background-color: #EEEEEE;
  width: 100%;
}

.customize-columna{

}

.customize-name{
  padding-bottom: 5%;
  padding-left: 2%;
}

.customize-contacto h5{
  margin-top: 1%;
  padding-top: 3%;
  padding-left: 2% ;
  padding-bottom: 3%;
}

.customize-icons{
  width: 20px;
  height: 20px;
}

.customize-habilidades{
  padding-top: 3%;
}

.customize-habilidades div h5 img{
  width: 20px;
  height: 20px;
}

.customize-datos-basicos div h5 img{
  width: 20px;
  height: 20px;
}


@media (max-width: 769px) {
  .customize-datos-basicos{
    padding-top: 5%;
  }

}

@media (max-width: 1110px) {
  .customize-name{
    padding-left: 20%;
  }
}

.customize-experiencia{
  padding-top: 3%;
}

.customize-progressbar{
  padding-top: 3%;
  padding-left: 5%;
  padding-bottom: 5%;
}


.customize-link h5 a:link, a:visited, a:active{
  text-decoration: none;
}


a:link, a:visited, a:active {
  text-decoration:none;
}

.customize-icons-experience{
  width: 100%;
  height: 50%;
  margin-top: 3%;
  margin-left: 20%;

}

.customize-lugar{
  font-style: italic;
}

.customize-footer{
  margin-top: 1%;
  background-color: #DEDEDE;
}


