/*Resets universales*/
*{
  margin: 0;
  padding: 0;
}

.customize-container {
  padding-top: 3%;
  margin-top: 1%;
  background-color: #EEEEEE;
  width: 100%;
}


.customize-name{
  padding-bottom: 5%;
  padding-left: 2%;
}

